name: Makefile CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Fetch latest toolchain
      run: make pull

    - name: Build bash
      run: make buildonly

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: minui-bash
        path: build/tg5040
        retention-days: 7
