name: Release Trigger

on:
  release:
    types: [published]

jobs:
  call-build:
    name: Build ${{ github.event.release.tag_name }}
    permissions:
      contents: write
      actions: write
    uses: ./.github/workflows/build.yml
    with:
      tag_name: ${{ github.event.release.tag_name }}
